.card{
  margin: 0 auto;
  background:linear-gradient(to top,red,pink);
  width: 200px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  color: aliceblue;
}

.App{
  margin: 0 auto;
  
  }
.city{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.6em;
}
.temp{
  font-size: 2rem;
}
.condition{
  font-size:1.2rem;
}
.icon{
  font-weight: 100;
}